<h4 class='subtitle'>...not just for the country of Spain</h4>

<span class='page_top_link'><%= link_to image_tag('back.png') + ' list all articles', articles_path %></span>

<h2>Creating a New Article</h2>

<%= render 'form' %>

<%= link_to 'Back', articles_path %>
