// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.articles {
	img {
		width:24px;
		height:24px;
	}
		
	table, .index_head, .article_count {
		width:1000px;
		margin:0 auto;
	}
	
	thead tr {
		position: relative;
		display: block;
	}

	table, th, td {
		border-collapse:collapse;
	}
	
	th, td {
		border-right:medium solid #000;
		border-left:medium solid #000;
	}
	
	td {
		height:40px;
	}
	
	th {
		border-top:medium solid #000;
	}
	
	thead {
		width:1000px;
	}
	
	tbody {
		display: block;
		height: 400px;
		overflow: auto;
	}
	
	tbody tr {
		width:100%;
		display:block;
	}
	
	.last_row td {
		border-bottom:medium solid #000;
	}
	
	.row_even {
		background:#fff;	
	}
	
	.row_odd {
		background:#eee;
	}
		
	.links_cell, .links_header {
		border-width:0;
		background:#fff;
		width:auto;
		min-width:100px;
	}
		
	.title_column, .author_column, .creation_date_column, .title_column_head, .author_column_head, .creation_date_column_head  {
		width:150px;
	}
	
	.body_column, .body_column_head {
		width:400px;
	}
	
	.title_column_head, .author_column_head, .creation_date_column_head, .body_column_head {
		background:#ccc;
	}	
	
	.page_head, .new_article {
		display:inline-block;
	}
	
	.new_article {
		margin-left:200px;
	}
	
	a { text-decoration: none; }
	
	a:hover { background:#fff; color:#000; }
	
	.page_top_link {
		margin-right:20px;
	}
}