// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.articles {
	img {
		width:24px;
		height:24px;
	}
	
	thead tr {
		position: relative;
		display: block;
	}

	table, th, td {
		border-collapse:collapse;
		margin:10px;
	}
	
	th, td {
		border-right:medium solid #000;
		border-left:medium solid #000;
	}
	
	td {
		padding:2px;
		height:40px;
	}
	
	th {
		border-top:medium solid #000;
	}
	
	tbody {
		display: block;
		height: 400px;
		overflow: auto;
		width: 100%;
	}
	
	tbody tr {
		width:100%;
		display:block;
	}
	
	.last_row td {
		border-bottom:medium solid #000;
	}
	
	.row_even {
		background:#fff;	
	}
	
	.row_odd {
		background:#eee;
	}
	
	.table_head_row {
		
	}
	
	.links_cell, .links_header {
		border-width:0;
		background:#fff;
	}
		
	.title_column, .author_column, .creation_date_column {
		width:100px;
	}
	
	.body_column {
		width:300px;
	}
	
	.title_column_head, .author_column_head, .creation_date_column_head, .body_column_head {
		background:#ccc;
	}
	
	.title_column_head, .author_column_head {
		width:100px;
	}
	
	.creation_date_column_head {
		width:101px;
	}
	
	.body_column_head {
		width:295px;
	}
	
	.links_cell {
		width:100px;
		a:hover {	background:#fff; }
	}
	
	.page_head, .new_article {
		display:inline-block;
	}
	
	.new_article {
		margin-left:200px;
	}
	
	a { text-decoration: none; }
	
	a:hover { background:#fff; color:#000; }
	
	.page_top_link {
		margin-right:20px;
	}
}